.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34; /* Dark background color */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Additions for dark black and red theme */
.bg-black {
  background-color: #000;
}

.text-white {
  color: #fff;
}

.bg-red-600 {
  background-color: #dc2626; /* Red background color */
}

.cursor-pointer {
  cursor: pointer;
}